body {
	margin: 0px;
	padding: 0px;

}
head{
	margin: 0px;
}
.logo{
	
	padding: 2%;
	width: 15%;
}
.menu ul{
	list-style: none;
	float: left;
	padding: 2%;
	width: 60%;
}
.menu ul li{
	float: left;
	margin-left: 8%;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	font-family: verdana;
}
.menu ul li a:hover{
	color: orange;
}
.left{
	float: left;
	
}
.nosotros{
	background-image: url("../imagenes/Cover-png.png");
	width: 1200px;
	height: 738px;
	margin: 0px;
	


}
.servicios{
	text-align: center;
	font-size: 50px;
}
.blue{
	color: #317a9b;
	text-align: center;
	font-size: 50px;
}
.clientes{

}
.contacto{

}